head
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')

	//- http://realfavicongenerator.net/faq#why_ico_not_declared

	block head
	title= pageTitle || ''
	meta(name='description' content=pageDescription || '')
	meta(name='keywords' content=pageKeywords || '')
	link(rel='stylesheet' href='js-libraries/fm.revealator.jquery.css')
	script(src='js-libraries/jquery-3.2.1.min.js')
	script(src='js-libraries/fm.revealator.jquery.js')

	// Шрифты
	link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet')
	// /Шрифты
	link(href='assets/styles/app.min.css' rel='stylesheet')
